svg 
{ 
	border: 0px solid black;
	background: lightgray; 
} 
 
.node 
{ 
	fill: #ccc; 
	stroke: #ddd; 
	stroke-width: 1px; 
} 
 
.node:hover 
{ 
	stroke: #fff; 
	stroke-width: 2px; 
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    color: white;
    background: rgba(50, 50, 50, 0.8);
    pointer-events: none;
}
 
.link 
{ 
	stroke: #777;
}

.link:hover
{
    stroke: #f00;
}

.label
{
    fill: #444;
    stroke: #444;
    font-family: helvetica;
    font-size: 8pt;
    opacity: 1.0;
    display: block;
    top: 100px;
    left: 100px;
    position: absolute;
    background: red;
    width: 100px;
    height: 200px;
}