svg 
{ 
	border: 1px solid black; 
	background: lightgray; 
} 
 
.node 
{ 
	fill: #ccc; 
	stroke: #ddd; 
	stroke-width: 1px; 
} 
 
.node:hover 
{ 
	stroke: #fff; 
	stroke-width: 2px; 
} 
 
d3-tip 
{ 
	color: black; 
	font-size: 10px; 
	font-family: Verdana; 
} 
 
.link 
{ 
	stroke: #777; 
	/*stroke-width: 2px;*/
}
