svg 
{ 
	border: 0px solid black;
	background: lightgray; 
} 
 
.node 
{ 
	fill: #ccc; 
	stroke: #ddd; 
	stroke-width: 1px; 
} 
 
.node:hover 
{ 
	stroke: #fff; 
	stroke-width: 2px; 
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    color: white;
    background: rgba(50, 50, 50, 0.8);
    pointer-events: none;
}
 
.link 
{ 
	stroke: #777;
}
